<!DOCTYPE html>
<html>
   <!--引用播放器样式 plyr.css-->
<p><link rel="stylesheet" href="/plyr/plyr.css"><br><!--加载播放器--></p>
<script src="/plyr/plyr.js"></script>
<!--引用播放器按钮 SVG 图标-->
{% include head.html %}

<body class="body">
    {% include header.html %} 
    <div class="content-container">
    {{ content }}
    </div>
<!-- <div class="col-md-12">
        {% include sharer.html %}
    </div> -->
    <div class="col-md-12">
        {% include endfooter.html %}
    </div>
    {% include include_js.html %}
</body>

</html>
