<!doctype html>
<html lang="en">  
  <head>
      <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <title>{{ site.title }}</title>
      <meta name="description" content="{{ site.description }}" />
      <link rel="shortcut icon" href="{{ site.logo }}"/>
 <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700' rel='stylesheet' type='text/css'> -->
 <!-- <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'> -->
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/assets/styles/crisp.css">
      <link rel="stylesheet" type="text/css" href="/assets/styles/rrssb.css">
      <meta name="HandheldFriendly" content="True" />
      <meta name="MobileOptimized" content="320" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->  
  </head>
  <body>
    <header id="header">
      {% if site.logo %}<a id="logo" href="/"><img src="{{ site.logo }}" alt="{{ site.title }}" /></a>{% endif %}
      <h1><a href="/">{{ site.title }}</a></h1>
      <p>{{ site.description }}</p>
    
      {% include navigation.html %}
    </header>
    <main id="content">
      {{ content }}
    </main>
    {% include pagination.html %}
    <footer id="footer">
      <section id="footer-message">&copy; {{ site.time | date: "%Y" }} <a href="/">{{ site.title }}</a>. Crisp theme by <a href="http://kathyqian.com" target="_blank">Kathy</a>.</section>
    </footer>
  </body>
</html>
